.sidebar-btn {
    background-color: transparent;
    /* color: #fbd251; */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-btn.active {
    background-color: #fbd250;
    color: white;
}

.sidebar-btn:hover:not(.active) {
    background-color: #fbd250;
    color: white;
}